@import "component/leanbox-variables";
@import "component/leanbox-mixins";

/*Generic css*/
/*Body & Other general elements*/
body, html {
  border: 0 none;
  color: $base-color;
  font-family: $opensans_reg;
  font-size: $basefont-size;
  line-height: $baseline-height;
  max-width: 100%;
  min-width: 100%;
  width: $page-width;

  @include no-margin-padding;

  @include base-transition;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0 0 15px;
}

h1, .h1 {
  font-size: 24px;
  line-height: 24px;
}

h2, .h2 {
  font-size: 18px;
  line-height: 20px;
}

h3, .h3 {
  font-size: 18px;
  line-height: 20px;
}

h4, .h4 {
  font-size: 18px;
  line-height: 20px;
}

p {
  margin: 0 0 10px;
}

a:hover, a:focus {
  color: $link-color;
  text-decoration: none;
  outline: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;

  @include base-transition;

  img {
    border: 0;
    outline: 0;
  }
}

.error {
  color: $link-color;
  display: block;
  margin-top: 0;
  font-size: 15px;
  clear: both;
}

div.warning, table tr.warning {
  white-space: normal;
}

.element-invisible {
  display: none;
}

ul, .block ul, ol, .list-inline {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.0em;

  li, li.leaf {
    display: list-item;
    list-style-image: none;
    list-style-type: disc;
    margin: 0;
    padding: 0 0 5px;

    a {
      padding: 5px;
    }
  }
}

body {
  padding-bottom: 70px;
}

ul.list-inline {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.0em;

  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    list-style-image: none;
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

ul.contextual-links, .block ul.contextual-links, ol.contextual-links {
  margin: 0;
  padding: 0;

  li, li.leaf {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

ul.tabs.primary {
  white-space: normal;
}

.tabs--primary.nav.nav-tabs {
  margin: 0 0 15px;

  li {
    padding: 0;

    a {
      padding: 7px 18px;
      color: #666;

      &.active {
        color: $link-color;
      }
    }
  }
}

.breadcrumb {
  li {
    &.active {
      &::before {
        display: none;
      }
    }
  }
}

#dist-name {
  font-size: 34px;
  text-align: center;
  margin-top: 22px;
  line-height: 38px;
  color: $base-color;
}

.pagination {
  > li {
    display: inline !important;
    list-style-type: none !important;

    a {
      padding: 6px 12px !important;
    }
  }
}

table {
  border: 0;

  > thead {
    > tr {
      > th {
        border: 0;
        border-right: 1px solid #ddd;
        background-color: #ccc;
        color: $black-color;
        font-weight: 600;
        vertical-align: middle;
        font-size: 14px;
        border-bottom: 0px solid #b1afaf;
        padding: 8px;
        min-width: 120px;

        a {
          color: $black-color;
        }

        .img-responsive {
          display: inline-block;
          margin-left: 10px;
          padding: 0px 2px 1px;
          background: #fff;
          box-sizing: content-box;
        }
      }
    }
  }

  > tbody {
    border: 0;

    > tr {
      > td {
        border: 1px solid #ddd;
        color: $black-color;
        font-weight: normal;
        vertical-align: middle !important;
        padding: 6px 8px 6px 8px !important;
        border-left: 0;
        border-right: 0;
        min-width: 120px;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }

        .date-form-element-content-multiline {
          padding: 0;
          border: 0;

          .container-inline-date {
            .form-item {
              input {
                width: 104px;
              }
            }
          }
        }
      }

      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
  }
}

.ui-datepicker-calendar {
  th, td {
    min-width: inherit !important;
  }
}

.table {
  > thead {
    > tr {
      > th {
        vertical-align: middle;
        border-bottom: 0;
        min-width: 90px;
      }
    }
  }
}

.form-autocomplete {
  .dropdown-menu {
    ul, li {
      list-style: none;
    }
  }
}

.label {
  color: $black-color;
  font-size: 14px;
  padding: 0;
  text-align: left;
}

/*End Body & Other general elements*/

/*Buttons & message*/
.btn, .btn-default {
  background: none repeat scroll 0 0 $link-color;
  border: 0 none;

  @include border-radius(5px);

  box-shadow: none;
  color: $white-color;
  padding: 7px 15px;
  margin: 10px 10px 10px 0;
  transition: all 0.5s linear 0s;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 1.1rem;

  &:hover, &:focus, &:active, &.active, .open .dropdown-toggle.btn-default {
    background-color: $base-color !important;

    /*!important to override default theme css*/
    color: $white-color;
  }
}

.btn-default:focus, .btn-default.focus {
  transition: all 0.5s linear 0s;
  background-color: #666;
}

a.btn:focus, a.btn:hover {
  transition: all 0.5s linear 0s;
  background-color: $hover-color;
}

div.error, table tr.error {
  background-color: transparent;
  color: #a94442;
}

.alert {
  padding: 8px;
}

input[type="text"], input[type="password"], input[type="email"], select, select.form-select {
  height: 33px;
  line-height: 33px;
  border: 1px solid #ccc;
}

.input-group {
  .form-control {
    z-index: 1;
  }
}

textarea {
  border: 1px solid #ccc;
  line-height: 18px;
}

header {
  &.container {
    margin: 0;
  }

  &#navbar {
    &.container-fluid {
      margin-top: 0;
      margin-top: 0;
      background: #FFF;
      box-shadow: 0 0 9px #e2dfdf;
      margin-bottom: 0;

      .container-fluid {
        /* max-width: 1300px; */
        width: 96%;
        margin: 0 auto;
      }
    }
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .navbar-header {
    .logo {
      img {
        max-height: 75px;
      }
    }
  }

  #navbar-collapse {
    #block-block-1 {
      float: right;

      .hul-logo {
        margin: 10px 0;

        img {
          max-height: 70px;
        }
      }
    }

    #block-system-user-menu {
      margin-top: 28px;
      float: right;
      margin-right: 20px;

      .menu {
        @include no-margin-padding;

        li {
          list-style-type: none;

          @include no-margin-padding;

          display: inline-block;

          &.last {
            a {
              border-right: 0;
            }
          }

          a {
            border-right: 1px solid $border-color;
          }
        }
      }
    }
  }
}
    .tickets {
      position: absolute;
      right: 27px;
      top: 40px;
      padding: 7px 39px;
      background-color: #1e419b;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      z-index: 9;
      &:hover, &:focus {
          color: #fff;
      }
    } 
body {
  > .main-container {
    /* max-width: 1300px; */
    width: 96%;
    margin: 0 auto;

    .region-content {
      form {
        .form-type-file {
          .form-file {
            height: auto;
          }
        }
      }
    }
  }
}

#table-div {
  .table-responsive {
    width: 100%;
  }
}

.preview_table {
  width: 100%;

  td {
    padding: 0 8px;
    border: 0;

    h3 {
      font-weight: normal;
      margin: 2px 0;
    }
  }
}

[id^="trip-delete-form"], [id^="get-data-of-trip-id-form"] {
  .form-item-trip-id {
    width: 33.33%;
    float: left;

    label, input[type="text"], select {
      width: 100%;
      text-align: left;

      &.error {
        margin-top: 0;
      }
    }
  }

  .btn {
    float: left;
    margin-top: 23px;
    margin-left: 15px;
  }
}

[id^="dispatch-planning-form"] {
  .textfield-wrapper {
    margin: 5px -15px 0;
    clear: both;

    &.bottom-wrapper {
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .or {
    text-align: center;
    position: relative;
    clear: both;
    margin: 18px 0;

    span {
      display: inline-block;
      background: #666;
      color: $white-color;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      text-align: center;
      border: 10px solid #fff;
      box-sizing: content-box;
      border-top: 0;
      border-bottom: 0;
      line-height: 32px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 40%;
      left: 30%;
      background: #666;
      z-index: -1;
    }
  }

  [id^="edit-van-submit"] {
    margin: 0;
    margin-top: 15px;
    float: right;
    margin-right: 15px;
  }

  [id^="edit-submit"] {
    margin-top: 8px;
  }

  [id^="edit-bill-number-submit"] {
    float: left;
    margin-top: 22px;
  }

  .container-inline-date, #van-wrapper, #beat-wrapper, .form-item-bill-number, #hht-id-wrapper, #cashier-wrapper, #vehicle-wrapper {
    width: 33.33%;
    padding: 0 15px;
    float: left;
    display: inline-block;
    vertical-align: top;

    label, input[type="text"], select {
      width: 100%;
      text-align: left;

      &.error {
        margin-top: 0;
      }
    }
  }

  .form-item-loading-date-date {
    position: relative;

    .ajax-progress-throbber {
      position: absolute;
      top: 50%;
      right: 17px;
      width: auto;
      margin-top: -9px;
    }
  }

  .container-inline-date {
    .form-item-loading-date {
      margin: 0;
    }

    div {
      width: 100%;
    }
  }

  #table-div {
    width: 100%;
    clear: both;
  }
}

/* #dispatch-planning-form{
    .textfield-wrapper{
        text-align: center;
        margin: 0 -15px;
    }
    .container-inline-date, #van-wrapper, #beat-wrapper{
        width: 33.33%;
        padding: 0 15px; 
        float: left;
        .form-item {
            width: 100%;
            >div, select{
                width: 65%;
                float: left;
            }
        }
        label{
            float: left;
            width: 35%;
            text-align: left;
        }
        input[type="text"]{
            width: 100%;
            text-align: left;
        }
    }
    #edit-van-submit{
        margin-top: 15px;
    }
    .form-item-loading-date-date{
        position: relative;
        .ajax-progress-throbber{
            position: absolute;
            top: 50%;
            right: 17px;
            width: auto !important;
            margin-top: -9px;
        }
    }
    .container-inline-date{
        .form-item-loading-date{
            margin: 0;
        }
       
        
    }
} */

/*End Buttons & message*/

.views-exposed-form {
  margin-bottom: 25px;

  .views-exposed-widget {
    width: 25%;
    padding: .6em 1.5em 0 0;

    &.views-submit-button {
      clear: both;

      .btn {
        margin-top: 0;
      }
    }

    &.date_field_parent {
      width: 50%;

      .views-widget {
        > div {
          width: 50%;
          clear: none;
          float: left;

          &:first-child {
            padding-right: 0.75em;
          }

          &:nth-child(2) {
            padding-left: 0.75em;
          }
        }
      }
    }

    .views-widget {
      div {
        width: 100%;
      }

      .container-inline-date {
        margin-bottom: 15px;

        .form-item {
          input, select, option {
            margin-right: 0;
            margin-left: 5px;
            width: 100%;
          }
        }

        .form-group {
          label {
            float: left;
            width: 33%;
          }

          div {
            float: left;
            width: 100%;
          }

          .date-padding {
            width: 67%;

            input.form-text {
              margin-left: 0;
            }
          }
        }
      }
    }

    .btn {
      margin-top: 22px;
    }
  }
}

.pagination {
  > .active {
    > a {
      &:hover, &:focus {
        background: $link-color;
      }
    }

    span {
      background: $link-color;
    }
  }

  li {
    a, span {
      color: $link-color;
    }
  }
}

.page-leanbox-chart-details {
  .region-content {
    form {
      .container-inline-date {
        width: 25%;
        display: inline-block;
        vertical-align: top;

        .form-item {
          .date-padding {
            float: none;

            .form-item {
              .control-label {
                display: none;
              }
            }
          }
        }
      }

      #party-packing-submit {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 20px 0 0;
      }
    }
  }
}

.page-node-add {
  .node-form {
    .form-group {
      width: 33.33%;

      .form-group {
        width: 100%;
      }

      label, .form-textarea-wrapper {
        width: 100%;
      }

      .form-textarea {
        width: 100%;
      }

      .filter-wrapper {
        .filter-help {
          margin-bottom: 12px;
        }
      }
    }
  }
}

.view-filters {
  .views-exposed-form {
    .views-widget-filter-field_order_date_value {
      .views-widget {
        [id^="edit-field-order-date-value-min-wrapper"] {
          display: inline-block;
        }
      }
    }
  }
}

form {
  div {
    > a {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}

.form-type-file {
  width: 33.33%;
}

.feeds-file-info {
  border-right: 0;
}

.not-logged-in {
  section {
    ul.nav-tabs, [id^="user-login"], [id^="user-pass"] {
      width: 38%;
      margin: 0 auto 15px !important;
      float: none;
    }
  }
}

.ui-datepicker-calendar {
  tbody {
    tr {
      td {
        padding: 1px !important;
      }
    }
  }
}
#block-leanbox-dashboard-outlet-status {
    text-align: left;
}
.region-content {
  .block-leanbox-dashboard, .block-leanbox-mobile {
    float: left;
    width: 46%;
    display: block;
    vertical-align: top;
    padding: 10px 0 5px 16px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 10px;
    margin: 1%;
    height: 420px;
    text-align: center;
    &:nth-child(3n+1) {
      
    }

    h2.block-title {
      line-height: 30px;
      padding-right: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 5px;
    }

    &.contextual-links-region {
      width: 50%;
      float: left;

      div[dir="ltr"] {
        width: 100% !important;
      }
    }
  }
  #leanbox-dashboard-chart-filter-otif-form, #leanbox-dashboard-chart-filter-delivery-form, #leanbox-dashboard-chart-filter-impact-form, #leanbox-mobile-chart-filter-return-form, #leanbox-mobile-chart-filter-full-return-form, #leanbox-dashboard-chart-filter-adoption-form, #leanbox-dashboard-chart-filter-bod-data-form {
    .container-inline-date{
      width: auto;
      display: inline-block;
      .date-padding {
        float: none;
        display: inline-block;
        .control-label{
          display: none;
        }
        input{
          width: 100px;
        }
      }
      .control-label{
          vertical-align: top;
          margin: 8px 0 0 0;
      }
    }
    #otif-submit, #impact-submit, #delivery-submit, #mobile-return-submit, #mobile-full-return-submit, #adoption-graph-submit, #bod-data-submit{
        width: 80px;
        display: inline-block;
        button {
            margin: 10px 10px 0 0;
            padding: 6px 15px;
        }
    }
    a {
      width: 100%;
      #otif_div, #impact_div, #delivery_div, #mobile_return_div, #mobile_full_return_div, #adoption_graph_div, #bod_data_div {
          margin: 10px 0 0 0;
          text-align: center;
          display: inline-block;
      }
    }
  }
}

header[id="page-header"] {
  position: relative;
  height: 32px;
  margin-bottom: 15px;

  #block-system-user-menu {
    float: right;

    li {
      list-style: none !important;
      display: inline-block;
      padding: 0 15px;
      margin: 0;
      margin-top: 6px;

      a {
        padding: 0 5px !important;
      }
    }

    li + li {
      border-left: 1px solid #ccc;
    }
  }

  .menu_overlay {
    background: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    left: 0;
    z-index: 999;
  }

  .explore_menu {
    float: left;
    line-height: 32px;
    background: $link-color url(../images/burger_menu.png) 14px center no-repeat;
    color: $white-color;
    padding: 0 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-size: 19px;
    padding-left: 42px;
  }

  .menu_dropdown {
    position: absolute;
    top: 100%;
    display: none;
    left: 0;
    background: $white-color;
    z-index: 9999;
    box-shadow: 0 3px 10px -1px #ccc;
    width: auto;
    .menu {
      width: 250px;
      position: relative;
      list-style: none !important;
      li {
            width: 100%;
            background: #fff;
            position: relative;
            list-style: none !important;
            padding: 0;
            border-radius: 0;
            border-bottom: 1px solid #ccc;
            border-top: 0 !important;
            display: list-item;
            cursor: pointer;
            background-color: #e8e8e8;
            span, a {
              padding: 13px 15px;
              text-shadow: none;
              display: list-item;
                &:hover{
                      background: #dcdbdb !important;
                }
            }
            &:hover{
              ul {
                position: absolute;
                top: 0;
                left: 250px;
                display: block;
                background: #e8e8e8 !important;
                height: 100%;
                border: 0;
                background-color: transparent;
                min-width: inherit;
                margin-top: 0;
                padding-top: 0;
                li{
                  float: left;
                  list-style: none !important;
                  width: 230px;
                  box-sizing: border-box !important;
                  margin: 0;
                  background: #e8e8e8 !important;
                  span, a{
                    margin: 0!important;
                    border-bottom: 1px solid #ccc;
                    color: #000;
                    &:hover{
                          background: #dcdbdb !important;
                    }
                  }
                  &:hover {
                        ul {
                          display: block;
                          left: 230px;
                          margin: 0;
                          li {
                              margin: 0;
                              width: 250px;
                              background-color: #e8e8e8;
                              a { 
                                margin: 0 !important;
                                border-bottom: 1px solid #ccc;
                                color: #000;
                              }
                              ul{
                                  display: none;
                              }
                              &:hover{
                                ul{
                                  left: 250px;
                                  display: block;
                                }
                              }
                          }
                          .last{
                            a{
                              border-bottom: none;
                            }
                          }
                        }
                  }
                  ul {
                    display: none;
                  }
                }
              }              
            }
            ul {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1000;
                    display: none;
                    float: none;
                    min-width: 160px;
                    padding: 5px 0;
                    margin: 2px 0 0;
                    list-style: none;
                    font-size: 14px;
                    text-align: left;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                    background-clip: padding-box;
            }
        }
     }
  }
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}

#address-selection-map {
  width: 35%;
  float: left;

  .clearance {
    clear: both;
  }

  > form {
    .form-item {
      width: 48%;
      float: left;

      &:nth-child(2n) {
        float: right;
      }
    }
  }

  .cell-hide {
    left: -10000px;
    position: absolute;
    display: none;
  }

  .hooover {
    left: 1109px;
    margin-top: 38px;
    z-index: 9999;
  }

  tr {
    position: relative;
  }

  .a1 {
    border: 1px solid Black;
    width: 395px;
    background-color: rgb(249, 249, 249);
  }

  .a2 {
    padding: 8px 0 0 210px !important;
  }

  #table-div {
    clear: both;
    width: 100%;
    max-height: 500px;
    min-height: 500px;
    box-sizing: border-box;
    overflow: auto;

    tr.selected-row {
      background: #b2e6ff;
    }

    .selectable-row {
      th, td {
        min-width: 50px;
      }
    }

    table.sticky-header {
      display: none !important;
    }

    > .table-responsive {
      overflow: visible;
    }

    .cell-details {
      cursor: pointer;
    }

    td {
      table.table-hover {
        margin-bottom: 0;
      }
    }

    .hooover {
      left: inherit;
      position: absolute;
      right: 278px;
      z-index: 555;
      padding: 4px;
      width: auto;
      margin: 0;
      border: 1px solid #000;
      width: auto;
    }

    .last_elements {
      bottom: 100%;
    }

    .selectable-row {
      position: relative;

      > thead, > tbody {
        > tr {
          /* >td:first-child, >th:first-child{
            display: none;
          } */

          > td:last-child, > th:last-child {
            width: 90px !important;
            position: relative;
          }

          /*  >td:last-child:hover{
               .table-hover{
                   left: inherit;
                   position: absolute;
                   right: 0;
                   width: auto;
               }
           } */

          td {
            .control-label {
              padding-left: 0;

              .form-checkbox {
                margin-left: 0;
              }
            }
          }
        }
      }

      &.table-radio {
        > thead, > tbody {
          > tr {
            > td:first-child, > th:first-child {
              display: none;
            }
          }
        }
      }

      .party-code-cell {
        min-width: 90px;
      }

      .party-name-cell {
        .party-name-data {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 105px;
        }
      }

      .status-cell {
        min-width: 111px;
      }
    }

    tbody {
      td {
        font-size: 13px;
      }
    }
  }
}

#incremental-outlet {
  form {
    #table-div {
      clear: both;
      width: 100%;
      max-height: 420px;
      min-height: 400px;
      box-sizing: border-box;
      padding-bottom: 250px;
      overflow: auto;
    }

    .selectable-row {
      tr {
        &.selected-row {
          background: #b2e6ff;
        }

        th, td {
          &:first-child {
            display: none;
          }
        }
      }

      .party-code-cell {
        min-width: 90px;
      }

      .party-name-cell {
        .party-name-data {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 105px;
        }
      }

      .status-cell {
        min-width: 111px;
      }
    }
  }
}

[id^="delivery-beat-create-form"] {
  .form-item, #van-pl-wrapper, #area-hook-group-wrapper {
    float: left;
    width: 24%;
    margin-right: 10px;
    margin-bottom: 15px;

    .form-item {
      margin-bottom: 0;
      float: none;
      width: auto;
      margin-right: 0;
    }
  }

  .form-submit {
    margin: 20px 10px;
  }

  .table-responsive {
    clear: both;
    width: 100%;
    max-height: 420px;
    min-height: 400px;
    box-sizing: border-box;
    padding-bottom: 250px;
    overflow: auto;
  }
}

#map-container {
  width: 63%;
  height: 700px;
  float: right;
  position: static;

  .leaflet-pane.leaflet-map-pane {
    position: static;
  }

  #searchBox {
    margin-left: 10px;
    width: 240px;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    height: 32px;
    line-height: 32px;
    padding: 5px 20px 5px 10px;
  }

  .search-cancel {
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 19px;
  }
}

@media only screen and (max-width: 1152px) {
  .region-content {
    .block-leanbox-dashboard {
      width: 48%;

      &:nth-child(3n+1) {
        clear: none;
      }
    }
  }
}

/*table theming  for leanbox chart details*/
.pp-typewise, .pp-superwise-table {
  width: 75%;
  border: 1px solid #ddd;

  tbody {
    border: 1px solid #ddd;
  }

  th {
    text-align: left;
    padding: 10px;
  }

  td {
    border: 1px solid #ddd !important;
  }

  table {
    td, tbody {
      border: 0 !important;
    }
  }
}

// tooltip date
.tooltipster-base {
  .tooltipster-content {
    tr {
      th, td {
        &:last-child {
          border-right: 0;
        }
      }
    }

    td, th {
      padding: 5px;
      border-bottom: 1px solid #777;
      min-width: 80px;
      word-wrap: break-word;
      border-right: 1px solid #777;
    }
  }
}

// Dashboard pages
.page-dashboard {
  .tabs--primary.nav.nav-tabs {
    margin-bottom: 0;

    li {
      &.active {
        a {
          background-color: #f5f5f5;
          color: #000;
        }
      }

      a {
        font-size: 16px;
      }
    }
  }

  .region-content {
    background-color: #f5f5f5;
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center
  }
}

// End Dashboard pages
// page central impact return analysis
#edit-field-third-party-username-value-wrapper {
    label {
      padding-top: 25px;
      padding-right: 10%;
  }
    .views-widget {
      display: inline-block;
      margin-top: 1%;
      vertical-align: middle;
      width: 50%;
  }
}
//end page central impact return analysis

#views-exposed-form-central-bill-trip-page  {
  #edit-title-wrapper, #edit-title-1-wrapper, #edit-field-billing-van-value-wrapper, #edit-field-sales-party-code-value-wrapper {
    width: 23%;
    padding-bottom: 10px;
  }
  #edit-field-sr-bill-date-value-wrapper, #edit-field-billing-loading-date-value-wrapper, #edit-field-trip-executon-date-value-wrapper {
    padding-bottom: 10px;
    width: 30%;
    #edit-field-sr-bill-date-value-min-wrapper, #edit-field-sr-bill-date-value-max-wrapper, #edit-field-billing-loading-date-value-min-wrapper, #edit-field-billing-loading-date-value-max-wrapper, #edit-field-trip-executon-date-value-min-wrapper, #edit-field-trip-executon-date-value-max-wrapper{
      width: 100%;
      padding: 0;
    }
      #edit-field-sr-bill-date-value-min, #edit-field-billing-loading-date-value-min, #edit-field-trip-executon-date-value-min, #edit-field-sr-bill-date-value-max, #edit-field-billing-loading-date-value-max, #edit-field-trip-executon-date-value-max {
        width: 85px;
        margin-left: 10px;
    }
  }
  #edit-field-trip-id-reference-nid-wrapper {
    clear: both;
    label {
      display: block;
    }
    .views-operator, .views-widget {
      width: 48%;
      display: inline-block;
    }
  }
  #edit-field-delivery-pending-value-wrapper {
    width: 140px;
  }
  #edit-field-channel-value-wrapper {
    width: 120px;
  }
  #edit-field-billing-van-value-1-wrapper {
    label {
    width: 100%;
  }
    .views-operator,  .views-widget {
      width: 44%;
      display: inline-block;
      vertical-align: top;
      margin-right: 2px;
    }
  }
#edit-field-third-party-username-value-wrapper {
    width: 140px;
  }

}

/*ofd mailer subfooter remove*/
.view-id-ofd_mailer, .view-id-ofd_mailer2 {
  table {
    tbody {
      tr {
        td {
          border: 1px solid #000 !important;
        }
      }
    }
  }
}

/*End ofd mailer subfooter remove*/
/*central billing report*/
.views-widget-filter-field_third_party_username_value {
	width: 55% !important;
	display: block !important;
	label {
		display: flex;
		text-align: center;
	}
	select.class-rs-code {
		height: 170px !important;
	}
}
/*End central billing report*/
/*payment collection table css*/
.view-id-payment_collection {
  .table-responsive {
    tbody {
      tr {
        td {
          min-width: 50px;
          text-align: center;
          max-width: 160px;
          word-break: break-all;
        }      
        .views-field-field-collection-cheque-date-editable {
          width: 160px;
          .container-inline-date {
            .form-item {
              input {
                width: 98% !important;
                font-size: 13px;
                padding: 0 3px;
              }
            }
          }
        }
      }
    }
  }
}
#edit-field-collection-status-value-wrapper {
	.views-widget {
		.form-item {
			select {
    			height: auto;
			}
		}
	}
}
.form-text {
    width: auto;
}

.show_hover_payment {
  color: $link-color;
  text-decoration: none;
  outline: 0;
  @include base-transition;
  cursor: pointer;
}
.show_hover_payment_data {
  padding: 5px 0 0 0;
  .table-responsive {
    .table {
      border: 1px solid #ccc;
      thead {
        tr {
          th {
            padding: 0 5px;
            font-size: 12px;
          }
        }
      }
      tbody {
        tr {
          td {
            max-width: 260px;
            min-width: 100px;
            width: 280px;
            border: 1px solid #ccc;
            font-size: 12px;
            padding: 1px 0 !IMPORTANT;
            &:nth-child(1) {
              min-width: 90px;
            }
          }
        }
      }
    }
  }
}
.common_form_wrap{
  .bill_table{
    input[type="text"], 
    input[type="password"], 
    input[type="email"], select, 
    select.form-select,
    .form-text{
      max-width: 110px;
    }
    .select-all{
      min-width: 10px;
    }
    tbody{
      td{
        &:first-child{
          min-width:10px;
        }
      }
    }
  }
}
#van-itemlist-div{
  #van-planning-screen{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding:10px;

    .form-item-bill-date {
      .date-padding{
        label{
          display: none;
        }
      }
    }
  }
  #van-planning-group{
    border: 1px solid #ccc;
    padding:10px;

    .vehicle-data{
      margin: 20px 0 0 0;
    }
  }
  .form_row{
    margin: 0 -10px 15px -10px;

    @media (max-width: 1160px) {
      margin: 0 -8px 15px -8px;
    }
    @media (max-width: 1130px) {
      margin: 0 -5px 15px -5px;
    }

    &:before, &:after{
      content:'';
      display: table;
    }
    &:after{
      clear: both;
    }
  }
  .form-item{
    width: 12.5%;
    float: left;
    padding: 0 10px;
    margin: 0;
    position: relative;

    @media (max-width: 1160px) {
      padding: 0 8px;
    }
    @media (max-width: 1130px) {
      padding: 0 5px;
    }
    label{
      @media (max-width: 1320px) {
        font-size: 12px;
      }
      @media (max-width: 1085px) {
        font-size:11px;
      }
    }
    &.form-type-radio, &.form-type-checkbox{
      width: auto;
    }
  }
  .form-autocomplete_fields{
    .form-item{
      width: auto;  
      padding: 0;   
      
      input{
        width: 120px;
      }
    }
  }
  .vp_final_editable_element{
    .form-item{
      width: auto;
      max-width: 120px;
      padding: 0;
    }
  }
  .container-inline-date{
    width: 12.5%;
    float: left;
    clear: none;
    padding: 0 10px;

    .form-item{
      width: 100%;
      padding: 0;
      border: 0;

      input{
        width: 100%;
      }
    }
  }
  .btn{
    margin-top: 0;
  }
  .table{
    .bill_no_val, .bill_group_data{
      display: none;
    }
    thead, tbody{
      tr{
        td, th{
          &:first-child{
            min-width:10px;
          }
        }
      }
    }
  }
  input[type="text"], 
  input[type="password"], 
  input[type="email"], 
  select, 
  select.form-select{
    border: 1px solid #999;
  }
  #show_in_popup{
    .form-item{
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    .pop_content{
      width: 35%;

      .btn{
        margin-bottom: 0;
      }
    }
  }
  .van-planning-popup-screen{
    .form_row{
      margin-bottom: 0;
    }
    .form-item{
      width: 12.4%;
      float: none;
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 15px;

      label{
        font-size: 11px;
      }
    }
    .container-inline-date{
    	width: 12.4%;
	    float: none;
	    display: inline-block;
	    vertical-align: bottom;
	    margin-bottom: 15px;

    	.form-item{
    		width: 100%;
    		padding: 0;
    		border: 0;
    		margin: 0;
    	}
    }
    .bill-edit{
      margin-bottom: 15px;

      .form-item{
        margin: 0;
      }
      .table{
        margin-bottom: 10px;
        > thead, > tbody{
          > tr{
            > th, > td{
              min-width: 40px;
              padding: 4px;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
  #van-table-div, .van-edit{
    margin-bottom: 15px;
  }
  .trip-date-details{
    padding: 20px 0;
    clear: both;
    width: 100%;
    display: block;

    &:before, &:after{
      content:'';
      display: table;
    }
    &:after{
      clear: both;
    }
  }
}
.popup_border{
  border: 1px solid #ccc;
  padding:10px;
}
.popup_overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: .6;
  filter: alpha(opacity=6);
  -moz-opacity: .6;
  z-index: 101;
}
.popup_wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  top:20%;
  z-index: 102;
  text-align: center;
  left: 0;
}
.pop_content{
  padding:20px;
  position: relative;
  text-align: left;
  background:#fff;
  width:80%;
  max-height: 400px;
  margin: 0 auto;
  overflow: auto;

  &:before, &:after{
    content:'';
    display: table;
  }
  &:after{
    clear: both;
  }
  .close-pop-up-button{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 15px;
    cursor: pointer;
  }
  .table-responsive{
    max-height: 320px;
  }
}
.custom_form_wrap{
  .form_row{
    margin: 0 -10px 20px -10px;

    &:before, &:after{
      content:'';
      display: table;
    }
    &:after{
      clear: both;
    }
    .form-item{
      width: 18%;
      float: left;
      padding: 0 10px;
      margin: 0;
      position: relative;

      @media (max-width: 1160px) {
        padding: 0 8px;
      }
      @media (max-width: 1130px) {
        padding: 0 5px;
      }
      label{
        @media (max-width: 1320px) {
          font-size: 12px;
        }
        @media (max-width: 1085px) {
          font-size:11px;
        }
      }
      &.form-type-radio{
        width: 100%;
      }
      &.form-type-checkbox{
        width: auto;
      }
    }
  }
  .custom_check_2col{
    float: left;
    width: 18%;

    .form-item{
      width: 100%;
    }
  }
  .form-item.form-item-return-incharge-name{
    width: 20%;
  }
}
.custom_middle_table{
  max-height: 280px;
  overflow: auto;
  margin-bottom: 10px;

  .green-row{
    background-color: #d4ecd4 !important;

    &:hover{
      background-color:#c8e8c8 !important;
    }
  }
  .red-row{
    background-color: #f1d3d3 !important;
    &:hover{
      background-color:#e8c3c3 !important;
    }
  }
  .table-hover > tbody > tr:hover{
    background: none;
  }
}

.page-ptl-loose-confirmation,
.page-ptl-retail-cld-confirmation,
.page-bill-wise-editing-cld,
.page-master-ptl-loose-confirmation,
.page-master-ptl-cld-confirmation {
  [id^="ptl-loose-confirmation-form"],
  [id^="ptl-retail-cld-confirmation-form"],
  [id^="bill-wise-editing-cld-form"],
  [id^="master-ptl-loose-confirmation-form"],
  [id^="master-ptl-cld-confirmation-form"] {
    .form-item-trip-number,
    .form-item-trip-type,
    .form-item-bill-number,
    .form-item-sku,
    .form-item-sku-code,
    .form-item-non-zero-short-sku {
      display: inline-block;
      vertical-align: top;
      width: 170px;
      margin-right: 15px;
      @media (max-width: 767px) {
        width: 100%;
        margin-right: 0;
      }
      .form-radios {
        .form-item  {
          display: inline-block;
          width: auto;
          vertical-align: inherit;
          @media (max-width: 767px) {
            margin-right: 30px;
          }
        }
      }
      &.form-item-non-zero-short-sku {
        margin-top: 20px;
        width: 250px;
        @media (max-width: 767px) {
          margin-top: 0;
          width: 100%;
        }
      }
    }
    [id^="edit-apply"] {
      display: block;
    }
  }
}

.page-to-be-dispatched-qty-report {
  [id^="to-be-dispatched-qty-form"] {
    .col_3 {
      margin-bottom: 10px;
      .container-inline-date {
        .date-padding {
          float: none;
        }
      }
    }
  }
}

/* page-outlet-working-hours */

.page-outlet-working-hours {
  .main-wrapper {
   border: 1px solid #ccc;
   padding: 20px;
 }
 .from-field, .to-field {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  box-shadow: none !important;
}

.add_special_days {
  background-color: white !important;
  color: #082c8a !important;
  border: 1px solid #000 !important;
 /* border-bottom: none !important;*/
  border-radius: unset !important;
  margin-left: 10px !important;
   font-size: 1.5em;
}

.toggle_area {
  margin: 0 0px 0 15px;
}

div.submit-wrapper {
  flex-flow: row-reverse;
  display: flex;
}

.special-outlet-text.special-open-close {
  padding: 0 85px 0 42px;
}

.special-container-inline {
  padding: 0px 67px 0 0px;
}

#working-hours-itemlist-div form {
  .form-wrapper {
    display: flex;
    margin-bottom: 15px;
    > div {
      min-width: 100px;
    }
  }
  .hul_code_details {
    margin-bottom: 20px;
  }
  .days-field {
    font-weight: bold;
  }
  .add-button .btn {
    background: transparent !important;
    color: #5278de;
    font-weight: bold;
    &:hover {
      background: transparent !important;
      color: #5278de;
      font-weight: bold;
    }
  }
  .remove-button.btn {
    background: transparent !important;
    color: #5278de;
    font-weight: bold;
  }
}

.special-days-container-wrapper .special-time-field {
  .special-button-small, .btn-success {
    background: transparent !important;
    color: #5278de;
    font-weight: bold;
  }
}

#special-elements-wrapper .special-delete-button {
  background: transparent !important;
  color: #5278de;
  font-weight: bold;
  &:hover {
    background: transparent !important;
    color: #5278de;
    font-weight: bold;
  }
}

#working-hours-itemlist-div form {
  .add-button .btn {
    float: right;
  }
  .remove-button.btn {
    color: #555555;
    font-size: 17px;
  }
}

.special-days-container-wrapper .special-time-field .special-button-small {
  color: #555555;
  font-size: 17px;
}

#special-elements-wrapper .form-wrapper {
  width: 100%;
  display: block !important;
}

.special-days-wrapper .special-days {
  display: inline-block;
}

#special-elements-wrapper {
  .special-days-container-wrapper {
    display: flex;
  }
  .form-type-date-popup label {
    display: none;
  }
  .special-days-container-wrapper > div {
    min-width: 100px;
  }
  #special-time-container {
    .form-wrapper  {
      label {
        .form-required {
          display: none;
        }
      }
    }
  }
}

.special-days-wrapper {
  margin-bottom: 20px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.working-checkbox {
  position: relative;
  background: grey;
  width: 50px;
  height: 15px;
  -webkit-appearance: initial;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 20px;
  &:active, &:focus {
    outline: none !important;
  }
  &:after {
    position: absolute;
    top: -50%;
    display: block;
    line-height: 32px;
    width: 50%;
    height: 200%;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: grey 1px solid;
    border-radius: 15px;
    outline: 0;
    left: 0%;
    content: "";
  }
  &:checked {
    background: #8d9fce;
    &:after {
      left: 53%;
      content: "";
      background: #5278de;
      border: #5278de 1px solid;
    }
  }
}
#outlet-hul-code {
   display: inline-block;
   margin-right: 33px;
}
#outlet-party-name {
   display: inline-block;
}
}



 

