/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Dec, 2018, 3:37:28 PM
    Author     : user
*/
.packing_auditor_outer
{
    width:100%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
}
.packing_auditor_name {
    width:200px;
}

/* Confirm Bill Editing Status Report Difference Table  */
.difference_table_reason {
    width: 145px;
    position: absolute;
    right: 23.8%;
}
.difference_table {
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .difference_table {
    margin-top: 90px;
  }
  .difference_table_reason {
    right: 10px;
  }
}
/* End Difference Table  */