/*Variables*/
$basefont-size : 14px;
$baseline-height : 19px;
$base-color : #000;
$link-color : #1e419b;
$yellow-color: #e0b036;
$black-color: #000;
$hover-color : $yellow-color;
$page-width : 1100px;
$border-color : #adadad;
$white-color: #fff;
/*End Variables*/

/*Fonts*/
/*New fonts - Homepage redesign*/

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-style: normal;
}

/* @font-face {
	font-family: 'proximanova-thin';
	src: url('../fonts/proximanova-thin-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-thin-webfont.woff') format('woff'), url('../fonts/proximanova-thin-webfont.ttf') format('truetype'), url('../fonts/proximanova-thin-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'proxima_nova_light';
	src: url('../fonts/proxima_nova_light-webfont.eot');
	src: local('☺'), url('../fonts/proxima_nova_light-webfont.woff') format('woff'), url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-reg';
	src: url('../fonts/proximanova-reg-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximanova-reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-sbold';
	src: url('../fonts/proximanova-sbold-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-sbold-webfont.woff') format('woff'), url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'), url('../fonts/proximanova-sbold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-bold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-xbold';
	src: url('../fonts/proximanova-xbold-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-xbold-webfont.woff') format('woff'), url('../fonts/proximanova-xbold-webfont.ttf') format('truetype'), url('../fonts/proximanova-xbold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */


$opensans_reg:'OpenSans-Regular',Sans-Serif;

/* $proximanova_thin:'proximanova-thin',Sans-Serif;
$proximanova_light:'proxima_nova_light',Sans-Serif;
$proximanova_reg:'proximanova-reg',Sans-Serif;
$proximanova_sbold:'proximanova-sbold',Sans-Serif;
$proximanova_bold:'proximanova-bold',Sans-Serif;
$proximanova_xbold:'proximanova-xbold',Sans-Serif; */
$icomoon: 'icomoon';
$icomoon-new: 'icomoon-new';
/*End Fonts*/