@charset "UTF-8";
/*Variables*/
/*End Variables*/
/*Fonts*/
/*New fonts - Homepage redesign*/
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
  font-style: normal;
}
/* @font-face {
	font-family: 'proximanova-thin';
	src: url('../fonts/proximanova-thin-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-thin-webfont.woff') format('woff'), url('../fonts/proximanova-thin-webfont.ttf') format('truetype'), url('../fonts/proximanova-thin-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'proxima_nova_light';
	src: url('../fonts/proxima_nova_light-webfont.eot');
	src: local('☺'), url('../fonts/proxima_nova_light-webfont.woff') format('woff'), url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-reg';
	src: url('../fonts/proximanova-reg-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximanova-reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-sbold';
	src: url('../fonts/proximanova-sbold-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-sbold-webfont.woff') format('woff'), url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'), url('../fonts/proximanova-sbold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-bold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-xbold';
	src: url('../fonts/proximanova-xbold-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-xbold-webfont.woff') format('woff'), url('../fonts/proximanova-xbold-webfont.ttf') format('truetype'), url('../fonts/proximanova-xbold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */
/* $proximanova_thin:'proximanova-thin',Sans-Serif;
$proximanova_light:'proxima_nova_light',Sans-Serif;
$proximanova_reg:'proximanova-reg',Sans-Serif;
$proximanova_sbold:'proximanova-sbold',Sans-Serif;
$proximanova_bold:'proximanova-bold',Sans-Serif;
$proximanova_xbold:'proximanova-xbold',Sans-Serif; */
/*End Fonts*/
/*Mixins*/
/*Fonts - icomoon & fontawesome*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?v5y00l");
  src: url("../fonts/icomoon.eot?v5y00l#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?v5y00l") format("truetype"), url("../fonts/icomoon.woff?v5y00l") format("woff"), url("../fonts/icomoon.svg?v5y00l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/component/_leanbox-mixins.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*End Fonts - icomoon & fontawesome*/
/*No margin & padding*/
/*End No margin & padding*/
/*Basic transition*/
/*End Basic transition*/
/*Dynamic transition*/
/*End Dynamic transition*/
/*Flex strech & align item*/
/*End Flex strech & align item*/
/*Border radius*/
/*End Border radius*/
/*Generic transform*/
/*Rotate*/
/*End generic transform*/
/*Generic css*/
/*Body & Other general elements*/
/* line 6, ../sass/leanbox-global.scss */
body, html {
  border: 0 none;
  color: #000;
  font-family: "OpenSans-Regular", Sans-Serif;
  font-size: 14px;
  line-height: 19px;
  max-width: 100%;
  min-width: 100%;
  width: 1100px;
  margin: 0;
  padding: 0;
  transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
}

/* line 21, ../sass/leanbox-global.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0 0 15px;
}

/* line 26, ../sass/leanbox-global.scss */
h1, .h1 {
  font-size: 24px;
  line-height: 24px;
}

/* line 31, ../sass/leanbox-global.scss */
h2, .h2 {
  font-size: 18px;
  line-height: 20px;
}

/* line 36, ../sass/leanbox-global.scss */
h3, .h3 {
  font-size: 18px;
  line-height: 20px;
}

/* line 41, ../sass/leanbox-global.scss */
h4, .h4 {
  font-size: 18px;
  line-height: 20px;
}

/* line 46, ../sass/leanbox-global.scss */
p {
  margin: 0 0 10px;
}

/* line 50, ../sass/leanbox-global.scss */
a:hover, a:focus {
  color: #1e419b;
  text-decoration: none;
  outline: 0;
}

/* line 56, ../sass/leanbox-global.scss */
a {
  color: #1e419b;
  text-decoration: none;
  outline: 0;
  transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
}
/* line 63, ../sass/leanbox-global.scss */
a img {
  border: 0;
  outline: 0;
}

/* line 69, ../sass/leanbox-global.scss */
.error {
  color: #1e419b;
  display: block;
  margin-top: 0;
  font-size: 15px;
  clear: both;
}

/* line 77, ../sass/leanbox-global.scss */
div.warning, table tr.warning {
  white-space: normal;
}

/* line 81, ../sass/leanbox-global.scss */
.element-invisible {
  display: none;
}

/* line 85, ../sass/leanbox-global.scss */
ul, .block ul, ol, .list-inline {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.0em;
}
/* line 89, ../sass/leanbox-global.scss */
ul li, ul li.leaf, .block ul li, .block ul li.leaf, ol li, ol li.leaf, .list-inline li, .list-inline li.leaf {
  display: list-item;
  list-style-image: none;
  list-style-type: disc;
  margin: 0;
  padding: 0 0 5px;
}
/* line 96, ../sass/leanbox-global.scss */
ul li a, ul li.leaf a, .block ul li a, .block ul li.leaf a, ol li a, ol li.leaf a, .list-inline li a, .list-inline li.leaf a {
  padding: 5px;
}

/* line 102, ../sass/leanbox-global.scss */
body {
  padding-bottom: 70px;
}

/* line 106, ../sass/leanbox-global.scss */
ul.list-inline {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.0em;
}
/* line 110, ../sass/leanbox-global.scss */
ul.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  list-style-image: none;
}

/* line 119, ../sass/leanbox-global.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* line 123, ../sass/leanbox-global.scss */
ul.contextual-links, .block ul.contextual-links, ol.contextual-links {
  margin: 0;
  padding: 0;
}
/* line 127, ../sass/leanbox-global.scss */
ul.contextual-links li, ul.contextual-links li.leaf, .block ul.contextual-links li, .block ul.contextual-links li.leaf, ol.contextual-links li, ol.contextual-links li.leaf {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 135, ../sass/leanbox-global.scss */
ul.tabs.primary {
  white-space: normal;
}

/* line 139, ../sass/leanbox-global.scss */
.tabs--primary.nav.nav-tabs {
  margin: 0 0 15px;
}
/* line 142, ../sass/leanbox-global.scss */
.tabs--primary.nav.nav-tabs li {
  padding: 0;
}
/* line 145, ../sass/leanbox-global.scss */
.tabs--primary.nav.nav-tabs li a {
  padding: 7px 18px;
  color: #666;
}
/* line 149, ../sass/leanbox-global.scss */
.tabs--primary.nav.nav-tabs li a.active {
  color: #1e419b;
}

/* line 156, ../sass/leanbox-global.scss */
#dist-name {
  font-size: 34px;
  text-align: center;
  margin-top: 22px;
  line-height: 38px;
  color: #000;
}

/* line 165, ../sass/leanbox-global.scss */
.pagination > li {
  display: inline !important;
  list-style-type: none !important;
}
/* line 169, ../sass/leanbox-global.scss */
.pagination > li a {
  padding: 6px 12px !important;
}

/* line 175, ../sass/leanbox-global.scss */
table {
  border: 0;
}
/* line 180, ../sass/leanbox-global.scss */
table > thead > tr > th {
  border: 0;
  border-right: 1px solid #ddd;
  background-color: #ccc;
  color: #000;
  font-weight: 600;
  vertical-align: middle;
  font-size: 14px;
  border-bottom: 0px solid #b1afaf;
  padding: 8px;
  min-width: 120px;
}
/* line 192, ../sass/leanbox-global.scss */
table > thead > tr > th a {
  color: #000;
}
/* line 196, ../sass/leanbox-global.scss */
table > thead > tr > th .img-responsive {
  display: inline-block;
  margin-left: 10px;
  padding: 0px 2px 1px;
  background: #fff;
  box-sizing: content-box;
}
/* line 207, ../sass/leanbox-global.scss */
table > tbody {
  border: 0;
}
/* line 211, ../sass/leanbox-global.scss */
table > tbody > tr > td {
  border: 1px solid #ddd;
  color: #000;
  font-weight: normal;
  vertical-align: middle !important;
  padding: 6px 8px 6px 8px !important;
  border-left: 0;
  border-right: 0;
  min-width: 120px;
}
/* line 221, ../sass/leanbox-global.scss */
table > tbody > tr > td:first-child {
  border-left: 0;
}
/* line 225, ../sass/leanbox-global.scss */
table > tbody > tr > td:last-child {
  border-right: 0;
}
/* line 229, ../sass/leanbox-global.scss */
table > tbody > tr > td .date-form-element-content-multiline {
  padding: 0;
  border: 0;
}
/* line 235, ../sass/leanbox-global.scss */
table > tbody > tr > td .date-form-element-content-multiline .container-inline-date .form-item input {
  width: 104px;
}
/* line 244, ../sass/leanbox-global.scss */
table > tbody > tr:last-child td {
  border-bottom: 0;
}

/* line 253, ../sass/leanbox-global.scss */
.ui-datepicker-calendar th, .ui-datepicker-calendar td {
  min-width: inherit !important;
}

/* line 261, ../sass/leanbox-global.scss */
.table > thead > tr > th {
  vertical-align: middle;
  border-bottom: 0;
  min-width: 90px;
}

/* line 272, ../sass/leanbox-global.scss */
.form-autocomplete .dropdown-menu ul, .form-autocomplete .dropdown-menu li {
  list-style: none;
}

/* line 278, ../sass/leanbox-global.scss */
.label {
  color: #000;
  font-size: 14px;
  padding: 0;
  text-align: left;
}

/*End Body & Other general elements*/
/*Buttons & message*/
/* line 288, ../sass/leanbox-global.scss */
.btn, .btn-default {
  background: none repeat scroll 0 0 #1e419b;
  border: 0 none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: none;
  color: #fff;
  padding: 7px 15px;
  margin: 10px 10px 10px 0;
  transition: all 0.5s linear 0s;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 1.1rem;
}
/* line 304, ../sass/leanbox-global.scss */
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn .open .dropdown-toggle.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default .open .dropdown-toggle.btn-default {
  background-color: #000 !important;
  /*!important to override default theme css*/
  color: #fff;
}

/* line 312, ../sass/leanbox-global.scss */
.btn-default:focus, .btn-default.focus {
  transition: all 0.5s linear 0s;
  background-color: #666;
}

/* line 317, ../sass/leanbox-global.scss */
a.btn:focus, a.btn:hover {
  transition: all 0.5s linear 0s;
  background-color: #e0b036;
}

/* line 322, ../sass/leanbox-global.scss */
div.error, table tr.error {
  background-color: transparent;
  color: #a94442;
}

/* line 327, ../sass/leanbox-global.scss */
.alert {
  padding: 8px;
}

/* line 331, ../sass/leanbox-global.scss */
input[type="text"], input[type="password"], input[type="email"], select, select.form-select {
  height: 33px;
  line-height: 33px;
  border: 1px solid #ccc;
}

/* line 338, ../sass/leanbox-global.scss */
.input-group .form-control {
  z-index: 1;
}

/* line 343, ../sass/leanbox-global.scss */
textarea {
  border: 1px solid #ccc;
  line-height: 18px;
}

/* line 349, ../sass/leanbox-global.scss */
header.container {
  margin: 0;
}
/* line 354, ../sass/leanbox-global.scss */
header#navbar.container-fluid {
  margin-top: 0;
  margin-top: 0;
  background: #FFF;
  box-shadow: 0 0 9px #e2dfdf;
  margin-bottom: 0;
}
/* line 361, ../sass/leanbox-global.scss */
header#navbar.container-fluid .container-fluid {
  /* max-width: 1300px; */
  width: 96%;
  margin: 0 auto;
}
/* line 369, ../sass/leanbox-global.scss */
header .container {
  max-width: 1300px;
  margin: 0 auto;
}
/* line 376, ../sass/leanbox-global.scss */
header .navbar-header .logo img {
  max-height: 75px;
}
/* line 383, ../sass/leanbox-global.scss */
header #navbar-collapse #block-block-1 {
  float: right;
}
/* line 386, ../sass/leanbox-global.scss */
header #navbar-collapse #block-block-1 .hul-logo {
  margin: 10px 0;
}
/* line 389, ../sass/leanbox-global.scss */
header #navbar-collapse #block-block-1 .hul-logo img {
  max-height: 70px;
}
/* line 395, ../sass/leanbox-global.scss */
header #navbar-collapse #block-system-user-menu {
  margin-top: 28px;
  float: right;
  margin-right: 20px;
}
/* line 400, ../sass/leanbox-global.scss */
header #navbar-collapse #block-system-user-menu .menu {
  margin: 0;
  padding: 0;
}
/* line 403, ../sass/leanbox-global.scss */
header #navbar-collapse #block-system-user-menu .menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 411, ../sass/leanbox-global.scss */
header #navbar-collapse #block-system-user-menu .menu li.last a {
  border-right: 0;
}
/* line 416, ../sass/leanbox-global.scss */
header #navbar-collapse #block-system-user-menu .menu li a {
  border-right: 1px solid #adadad;
}

/* line 426, ../sass/leanbox-global.scss */
body > .main-container {
  /* max-width: 1300px; */
  width: 96%;
  margin: 0 auto;
}
/* line 434, ../sass/leanbox-global.scss */
body > .main-container .region-content form .form-type-file .form-file {
  height: auto;
}

/* line 444, ../sass/leanbox-global.scss */
#table-div .table-responsive {
  width: 100%;
}

/* line 449, ../sass/leanbox-global.scss */
.preview_table {
  width: 100%;
}
/* line 452, ../sass/leanbox-global.scss */
.preview_table td {
  padding: 0 8px;
  border: 0;
}
/* line 456, ../sass/leanbox-global.scss */
.preview_table td h3 {
  font-weight: normal;
  margin: 2px 0;
}

/* line 464, ../sass/leanbox-global.scss */
[id^="trip-delete-form"] .form-item-trip-id, [id^="get-data-of-trip-id-form"] .form-item-trip-id {
  width: 33.33%;
  float: left;
}
/* line 468, ../sass/leanbox-global.scss */
[id^="trip-delete-form"] .form-item-trip-id label, [id^="trip-delete-form"] .form-item-trip-id input[type="text"], [id^="trip-delete-form"] .form-item-trip-id select, [id^="get-data-of-trip-id-form"] .form-item-trip-id label, [id^="get-data-of-trip-id-form"] .form-item-trip-id input[type="text"], [id^="get-data-of-trip-id-form"] .form-item-trip-id select {
  width: 100%;
  text-align: left;
}
/* line 472, ../sass/leanbox-global.scss */
[id^="trip-delete-form"] .form-item-trip-id label.error, [id^="trip-delete-form"] .form-item-trip-id input[type="text"].error, [id^="trip-delete-form"] .form-item-trip-id select.error, [id^="get-data-of-trip-id-form"] .form-item-trip-id label.error, [id^="get-data-of-trip-id-form"] .form-item-trip-id input[type="text"].error, [id^="get-data-of-trip-id-form"] .form-item-trip-id select.error {
  margin-top: 0;
}
/* line 478, ../sass/leanbox-global.scss */
[id^="trip-delete-form"] .btn, [id^="get-data-of-trip-id-form"] .btn {
  float: left;
  margin-top: 23px;
  margin-left: 15px;
}

/* line 486, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .textfield-wrapper {
  margin: 5px -15px 0;
  clear: both;
}
/* line 490, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .textfield-wrapper.bottom-wrapper {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
/* line 497, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .or {
  text-align: center;
  position: relative;
  clear: both;
  margin: 18px 0;
}
/* line 503, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .or span {
  display: inline-block;
  background: #666;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 10px solid #fff;
  box-sizing: content-box;
  border-top: 0;
  border-bottom: 0;
  line-height: 32px;
}
/* line 518, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .or:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 40%;
  left: 30%;
  background: #666;
  z-index: -1;
}
/* line 530, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] [id^="edit-van-submit"] {
  margin: 0;
  margin-top: 15px;
  float: right;
  margin-right: 15px;
}
/* line 537, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] [id^="edit-submit"] {
  margin-top: 8px;
}
/* line 541, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] [id^="edit-bill-number-submit"] {
  float: left;
  margin-top: 22px;
}
/* line 546, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .container-inline-date, [id^="dispatch-planning-form"] #van-wrapper, [id^="dispatch-planning-form"] #beat-wrapper, [id^="dispatch-planning-form"] .form-item-bill-number, [id^="dispatch-planning-form"] #hht-id-wrapper, [id^="dispatch-planning-form"] #cashier-wrapper, [id^="dispatch-planning-form"] #vehicle-wrapper {
  width: 33.33%;
  padding: 0 15px;
  float: left;
  display: inline-block;
  vertical-align: top;
}
/* line 553, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .container-inline-date label, [id^="dispatch-planning-form"] .container-inline-date input[type="text"], [id^="dispatch-planning-form"] .container-inline-date select, [id^="dispatch-planning-form"] #van-wrapper label, [id^="dispatch-planning-form"] #van-wrapper input[type="text"], [id^="dispatch-planning-form"] #van-wrapper select, [id^="dispatch-planning-form"] #beat-wrapper label, [id^="dispatch-planning-form"] #beat-wrapper input[type="text"], [id^="dispatch-planning-form"] #beat-wrapper select, [id^="dispatch-planning-form"] .form-item-bill-number label, [id^="dispatch-planning-form"] .form-item-bill-number input[type="text"], [id^="dispatch-planning-form"] .form-item-bill-number select, [id^="dispatch-planning-form"] #hht-id-wrapper label, [id^="dispatch-planning-form"] #hht-id-wrapper input[type="text"], [id^="dispatch-planning-form"] #hht-id-wrapper select, [id^="dispatch-planning-form"] #cashier-wrapper label, [id^="dispatch-planning-form"] #cashier-wrapper input[type="text"], [id^="dispatch-planning-form"] #cashier-wrapper select, [id^="dispatch-planning-form"] #vehicle-wrapper label, [id^="dispatch-planning-form"] #vehicle-wrapper input[type="text"], [id^="dispatch-planning-form"] #vehicle-wrapper select {
  width: 100%;
  text-align: left;
}
/* line 557, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .container-inline-date label.error, [id^="dispatch-planning-form"] .container-inline-date input[type="text"].error, [id^="dispatch-planning-form"] .container-inline-date select.error, [id^="dispatch-planning-form"] #van-wrapper label.error, [id^="dispatch-planning-form"] #van-wrapper input[type="text"].error, [id^="dispatch-planning-form"] #van-wrapper select.error, [id^="dispatch-planning-form"] #beat-wrapper label.error, [id^="dispatch-planning-form"] #beat-wrapper input[type="text"].error, [id^="dispatch-planning-form"] #beat-wrapper select.error, [id^="dispatch-planning-form"] .form-item-bill-number label.error, [id^="dispatch-planning-form"] .form-item-bill-number input[type="text"].error, [id^="dispatch-planning-form"] .form-item-bill-number select.error, [id^="dispatch-planning-form"] #hht-id-wrapper label.error, [id^="dispatch-planning-form"] #hht-id-wrapper input[type="text"].error, [id^="dispatch-planning-form"] #hht-id-wrapper select.error, [id^="dispatch-planning-form"] #cashier-wrapper label.error, [id^="dispatch-planning-form"] #cashier-wrapper input[type="text"].error, [id^="dispatch-planning-form"] #cashier-wrapper select.error, [id^="dispatch-planning-form"] #vehicle-wrapper label.error, [id^="dispatch-planning-form"] #vehicle-wrapper input[type="text"].error, [id^="dispatch-planning-form"] #vehicle-wrapper select.error {
  margin-top: 0;
}
/* line 563, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .form-item-loading-date-date {
  position: relative;
}
/* line 566, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .form-item-loading-date-date .ajax-progress-throbber {
  position: absolute;
  top: 50%;
  right: 17px;
  width: auto;
  margin-top: -9px;
}
/* line 576, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .container-inline-date .form-item-loading-date {
  margin: 0;
}
/* line 580, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] .container-inline-date div {
  width: 100%;
}
/* line 585, ../sass/leanbox-global.scss */
[id^="dispatch-planning-form"] #table-div {
  width: 100%;
  clear: both;
}

/* #dispatch-planning-form{
    .textfield-wrapper{
        text-align: center;
        margin: 0 -15px;
    }
    .container-inline-date, #van-wrapper, #beat-wrapper{
        width: 33.33%;
        padding: 0 15px; 
        float: left;
        .form-item {
            width: 100%;
            >div, select{
                width: 65%;
                float: left;
            }
        }
        label{
            float: left;
            width: 35%;
            text-align: left;
        }
        input[type="text"]{
            width: 100%;
            text-align: left;
        }
    }
    #edit-van-submit{
        margin-top: 15px;
    }
    .form-item-loading-date-date{
        position: relative;
        .ajax-progress-throbber{
            position: absolute;
            top: 50%;
            right: 17px;
            width: auto !important;
            margin-top: -9px;
        }
    }
    .container-inline-date{
        .form-item-loading-date{
            margin: 0;
        }
       
        
    }
} */
/*End Buttons & message*/
/* line 641, ../sass/leanbox-global.scss */
.views-exposed-form {
  margin-bottom: 25px;
}
/* line 644, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget {
  width: 25%;
  padding: .6em 1.5em 0 0;
}
/* line 648, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget.views-submit-button {
  clear: both;
}
/* line 651, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget.views-submit-button .btn {
  margin-top: 0;
}
/* line 656, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget.date_field_parent {
  width: 50%;
}
/* line 660, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget.date_field_parent .views-widget > div {
  width: 50%;
  clear: none;
  float: left;
}
/* line 665, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget.date_field_parent .views-widget > div:first-child {
  padding-right: 0.75em;
}
/* line 669, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget.date_field_parent .views-widget > div:nth-child(2) {
  padding-left: 0.75em;
}
/* line 677, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .views-widget div {
  width: 100%;
}
/* line 681, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .views-widget .container-inline-date {
  margin-bottom: 15px;
}
/* line 685, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .views-widget .container-inline-date .form-item input, .views-exposed-form .views-exposed-widget .views-widget .container-inline-date .form-item select, .views-exposed-form .views-exposed-widget .views-widget .container-inline-date .form-item option {
  margin-right: 0;
  margin-left: 5px;
  width: 100%;
}
/* line 693, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .views-widget .container-inline-date .form-group label {
  float: left;
  width: 33%;
}
/* line 698, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .views-widget .container-inline-date .form-group div {
  float: left;
  width: 100%;
}
/* line 703, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .views-widget .container-inline-date .form-group .date-padding {
  width: 67%;
}
/* line 706, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .views-widget .container-inline-date .form-group .date-padding input.form-text {
  margin-left: 0;
}
/* line 714, ../sass/leanbox-global.scss */
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 22px;
}

/* line 723, ../sass/leanbox-global.scss */
.pagination > .active > a:hover, .pagination > .active > a:focus {
  background: #1e419b;
}
/* line 728, ../sass/leanbox-global.scss */
.pagination > .active span {
  background: #1e419b;
}
/* line 734, ../sass/leanbox-global.scss */
.pagination li a, .pagination li span {
  color: #1e419b;
}

/* line 743, ../sass/leanbox-global.scss */
.page-leanbox-chart-details .region-content form .container-inline-date {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
/* line 749, ../sass/leanbox-global.scss */
.page-leanbox-chart-details .region-content form .container-inline-date .form-item .date-padding {
  float: none;
}
/* line 753, ../sass/leanbox-global.scss */
.page-leanbox-chart-details .region-content form .container-inline-date .form-item .date-padding .form-item .control-label {
  display: none;
}
/* line 761, ../sass/leanbox-global.scss */
.page-leanbox-chart-details .region-content form #party-packing-submit {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0 0;
}

/* line 773, ../sass/leanbox-global.scss */
.page-node-add .node-form .form-group {
  width: 33.33%;
}
/* line 776, ../sass/leanbox-global.scss */
.page-node-add .node-form .form-group .form-group {
  width: 100%;
}
/* line 780, ../sass/leanbox-global.scss */
.page-node-add .node-form .form-group label, .page-node-add .node-form .form-group .form-textarea-wrapper {
  width: 100%;
}
/* line 784, ../sass/leanbox-global.scss */
.page-node-add .node-form .form-group .form-textarea {
  width: 100%;
}
/* line 789, ../sass/leanbox-global.scss */
.page-node-add .node-form .form-group .filter-wrapper .filter-help {
  margin-bottom: 12px;
}

/* line 801, ../sass/leanbox-global.scss */
.view-filters .views-exposed-form .views-widget-filter-field_order_date_value .views-widget [id^="edit-field-order-date-value-min-wrapper"] {
  display: inline-block;
}

/* line 811, ../sass/leanbox-global.scss */
form div > a {
  display: inline-block;
  margin-bottom: 5px;
}

/* line 818, ../sass/leanbox-global.scss */
.form-type-file {
  width: 33.33%;
}

/* line 822, ../sass/leanbox-global.scss */
.feeds-file-info {
  border-right: 0;
}

/* line 828, ../sass/leanbox-global.scss */
.not-logged-in section ul.nav-tabs, .not-logged-in section [id^="user-login"], .not-logged-in section [id^="user-pass"] {
  width: 38%;
  margin: 0 auto 15px !important;
  float: none;
}

/* line 839, ../sass/leanbox-global.scss */
.ui-datepicker-calendar tbody tr td {
  padding: 1px !important;
}

/* line 847, ../sass/leanbox-global.scss */
.region-content .block-leanbox-dashboard {
  float: left;
  width: 31.33%;
  display: block;
  vertical-align: top;
  padding: 10px 0 5px 16px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 10px;
  margin: 1%;
}
/* line 857, ../sass/leanbox-global.scss */
.region-content .block-leanbox-dashboard:nth-child(3n+1) {
  clear: both;
}
/* line 861, ../sass/leanbox-global.scss */
.region-content .block-leanbox-dashboard h2.block-title {
  line-height: 30px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 869, ../sass/leanbox-global.scss */
.region-content .block-leanbox-dashboard.contextual-links-region {
  width: 50%;
  float: left;
}
/* line 873, ../sass/leanbox-global.scss */
.region-content .block-leanbox-dashboard.contextual-links-region div[dir="ltr"] {
  width: 100% !important;
}

/* line 880, ../sass/leanbox-global.scss */
header[id="page-header"] {
  position: relative;
  height: 32px;
  margin-bottom: 15px;
}
/* line 885, ../sass/leanbox-global.scss */
header[id="page-header"] #block-system-user-menu {
  float: right;
}
/* line 888, ../sass/leanbox-global.scss */
header[id="page-header"] #block-system-user-menu li {
  list-style: none !important;
  display: inline-block;
  padding: 0 15px;
  margin: 0;
  margin-top: 6px;
}
/* line 895, ../sass/leanbox-global.scss */
header[id="page-header"] #block-system-user-menu li a {
  padding: 0 5px !important;
}
/* line 900, ../sass/leanbox-global.scss */
header[id="page-header"] #block-system-user-menu li + li {
  border-left: 1px solid #ccc;
}
/* line 905, ../sass/leanbox-global.scss */
header[id="page-header"] .menu_overlay {
  background: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  left: 0;
  z-index: 999;
}
/* line 916, ../sass/leanbox-global.scss */
header[id="page-header"] .explore_menu {
  float: left;
  line-height: 32px;
  background: #1e419b url(../images/burger_menu.png) 14px center no-repeat;
  color: #fff;
  padding: 0 18px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background-size: 19px;
  padding-left: 42px;
}
/* line 929, ../sass/leanbox-global.scss */
header[id="page-header"] .menu_dropdown {
  position: absolute;
  top: 100%;
  display: none;
  left: 0;
  background: #fff;
  z-index: 9999;
  box-shadow: 0 3px 10px -1px #ccc;
  width: auto;
}
/* line 940, ../sass/leanbox-global.scss */
header[id="page-header"] ul, header[id="page-header"] li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 947, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul {
  width: 250px;
  position: relative;
  list-style: none !important;
}
/* line 952, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li {
  width: 100%;
  background: #fff;
  position: static;
  list-style: none !important;
  padding: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  border-top: 0 !important;
}
/* line 962, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li.leaf {
  padding: 0;
}
/* line 966, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li .caret {
  border-left: 7px solid;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  float: right;
  position: relative;
}
/* line 973, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li .caret:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -9px;
  border-left: 7px solid #fff;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
}
/* line 984, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li:hover, header[id="page-header"] .content > ul li:focus {
  background: #e8e8e8;
}
/* line 988, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li:hover .caret:before, header[id="page-header"] .content > ul li:focus .caret:before {
  border-left: 7px solid #e8e8e8;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
}
/* line 996, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li a {
  padding: 13px 15px;
  text-shadow: none;
}
/* line 1002, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li:hover ul {
  display: block;
  top: 0 !important;
  left: 250px !important;
  background: #e8e8e8 !important;
}
/* line 1010, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li ul {
  position: absolute;
  background: #fff !important;
  width: 750px !important;
  list-style: none;
  box-shadow: none;
  border: 0;
  height: 100%;
  background: #e8e8e8;
  box-shadow: 0 3px 10px -1px #ccc;
  border-radius: 0 !important;
}
/* line 1022, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li ul li {
  float: left;
  list-style: none !important;
  width: 230px;
  box-sizing: border-box !important;
  margin: 0 10px;
  background: #e8e8e8 !important;
}
/* line 1030, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li ul li:hover {
  background: #fbfbfb !important;
}
/* line 1034, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li ul li:nth-child(even) {
  margin-left: 5px;
}
/* line 1038, ../sass/leanbox-global.scss */
header[id="page-header"] .content > ul li ul li:nth-child(odd) {
  margin-right: 5px;
}

/* line 1048, ../sass/leanbox-global.scss */
#address-selection-map {
  width: 35%;
  float: left;
}
/* line 1052, ../sass/leanbox-global.scss */
#address-selection-map .clearance {
  clear: both;
}
/* line 1057, ../sass/leanbox-global.scss */
#address-selection-map > form .form-item {
  width: 48%;
  float: left;
}
/* line 1061, ../sass/leanbox-global.scss */
#address-selection-map > form .form-item:nth-child(2n) {
  float: right;
}
/* line 1067, ../sass/leanbox-global.scss */
#address-selection-map .cell-hide {
  left: -10000px;
  position: absolute;
  display: none;
}
/* line 1073, ../sass/leanbox-global.scss */
#address-selection-map .hooover {
  left: 1109px;
  margin-top: 38px;
  z-index: 9999;
}
/* line 1079, ../sass/leanbox-global.scss */
#address-selection-map tr {
  position: relative;
}
/* line 1083, ../sass/leanbox-global.scss */
#address-selection-map .a1 {
  border: 1px solid Black;
  width: 395px;
  background-color: #f9f9f9;
}
/* line 1089, ../sass/leanbox-global.scss */
#address-selection-map .a2 {
  padding: 8px 0 0 210px !important;
}
/* line 1093, ../sass/leanbox-global.scss */
#address-selection-map #table-div {
  clear: both;
  width: 100%;
  max-height: 500px;
  min-height: 500px;
  box-sizing: border-box;
  overflow: auto;
}
/* line 1101, ../sass/leanbox-global.scss */
#address-selection-map #table-div tr.selected-row {
  background: #b2e6ff;
}
/* line 1106, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row th, #address-selection-map #table-div .selectable-row td {
  min-width: 50px;
}
/* line 1111, ../sass/leanbox-global.scss */
#address-selection-map #table-div table.sticky-header {
  display: none !important;
}
/* line 1115, ../sass/leanbox-global.scss */
#address-selection-map #table-div > .table-responsive {
  overflow: visible;
}
/* line 1119, ../sass/leanbox-global.scss */
#address-selection-map #table-div .cell-details {
  cursor: pointer;
}
/* line 1124, ../sass/leanbox-global.scss */
#address-selection-map #table-div td table.table-hover {
  margin-bottom: 0;
}
/* line 1129, ../sass/leanbox-global.scss */
#address-selection-map #table-div .hooover {
  left: inherit;
  position: absolute;
  right: 278px;
  z-index: 555;
  padding: 4px;
  width: auto;
  margin: 0;
  border: 1px solid #000;
  width: auto;
}
/* line 1141, ../sass/leanbox-global.scss */
#address-selection-map #table-div .last_elements {
  bottom: 100%;
}
/* line 1145, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row {
  position: relative;
}
/* line 1149, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row > thead > tr, #address-selection-map #table-div .selectable-row > tbody > tr {
  /* >td:first-child, >th:first-child{
    display: none;
  } */
  /*  >td:last-child:hover{
       .table-hover{
           left: inherit;
           position: absolute;
           right: 0;
           width: auto;
       }
   } */
}
/* line 1154, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row > thead > tr > td:last-child, #address-selection-map #table-div .selectable-row > thead > tr > th:last-child, #address-selection-map #table-div .selectable-row > tbody > tr > td:last-child, #address-selection-map #table-div .selectable-row > tbody > tr > th:last-child {
  width: 90px !important;
  position: relative;
}
/* line 1169, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row > thead > tr td .control-label, #address-selection-map #table-div .selectable-row > tbody > tr td .control-label {
  padding-left: 0;
}
/* line 1172, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row > thead > tr td .control-label .form-checkbox, #address-selection-map #table-div .selectable-row > tbody > tr td .control-label .form-checkbox {
  margin-left: 0;
}
/* line 1183, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row.table-radio > thead > tr > td:first-child, #address-selection-map #table-div .selectable-row.table-radio > thead > tr > th:first-child, #address-selection-map #table-div .selectable-row.table-radio > tbody > tr > td:first-child, #address-selection-map #table-div .selectable-row.table-radio > tbody > tr > th:first-child {
  display: none;
}
/* line 1190, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row .party-code-cell {
  min-width: 90px;
}
/* line 1195, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row .party-name-cell .party-name-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 105px;
}
/* line 1203, ../sass/leanbox-global.scss */
#address-selection-map #table-div .selectable-row .status-cell {
  min-width: 111px;
}
/* line 1209, ../sass/leanbox-global.scss */
#address-selection-map #table-div tbody td {
  font-size: 13px;
}

/* line 1218, ../sass/leanbox-global.scss */
#incremental-outlet form #table-div {
  clear: both;
  width: 100%;
  max-height: 420px;
  min-height: 400px;
  box-sizing: border-box;
  padding-bottom: 250px;
  overflow: auto;
}
/* line 1230, ../sass/leanbox-global.scss */
#incremental-outlet form .selectable-row tr.selected-row {
  background: #b2e6ff;
}
/* line 1235, ../sass/leanbox-global.scss */
#incremental-outlet form .selectable-row tr th:first-child, #incremental-outlet form .selectable-row tr td:first-child {
  display: none;
}
/* line 1241, ../sass/leanbox-global.scss */
#incremental-outlet form .selectable-row .party-code-cell {
  min-width: 90px;
}
/* line 1246, ../sass/leanbox-global.scss */
#incremental-outlet form .selectable-row .party-name-cell .party-name-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 105px;
}
/* line 1254, ../sass/leanbox-global.scss */
#incremental-outlet form .selectable-row .status-cell {
  min-width: 111px;
}

/* line 1262, ../sass/leanbox-global.scss */
[id^="delivery-beat-create-form"] .form-item, [id^="delivery-beat-create-form"] #van-pl-wrapper, [id^="delivery-beat-create-form"] #area-hook-group-wrapper {
  float: left;
  width: 24%;
  margin-right: 10px;
  margin-bottom: 15px;
}
/* line 1268, ../sass/leanbox-global.scss */
[id^="delivery-beat-create-form"] .form-item .form-item, [id^="delivery-beat-create-form"] #van-pl-wrapper .form-item, [id^="delivery-beat-create-form"] #area-hook-group-wrapper .form-item {
  margin-bottom: 0;
  float: none;
  width: auto;
  margin-right: 0;
}
/* line 1276, ../sass/leanbox-global.scss */
[id^="delivery-beat-create-form"] .form-submit {
  margin: 20px 10px;
}
/* line 1280, ../sass/leanbox-global.scss */
[id^="delivery-beat-create-form"] .table-responsive {
  clear: both;
  width: 100%;
  max-height: 420px;
  min-height: 400px;
  box-sizing: border-box;
  padding-bottom: 250px;
  overflow: auto;
}

/* line 1291, ../sass/leanbox-global.scss */
#map-container {
  width: 63%;
  height: 700px;
  float: right;
  position: static;
}
/* line 1297, ../sass/leanbox-global.scss */
#map-container .leaflet-pane.leaflet-map-pane {
  position: static;
}
/* line 1301, ../sass/leanbox-global.scss */
#map-container #searchBox {
  margin-left: 10px;
  width: 240px;
  border-radius: 5px;
  border: 1px solid #8c8c8c;
  height: 32px;
  line-height: 32px;
  padding: 5px 10px;
}

@media only screen and (max-width: 1152px) {
  /* line 1314, ../sass/leanbox-global.scss */
  .region-content .block-leanbox-dashboard {
    width: 48%;
  }
  /* line 1317, ../sass/leanbox-global.scss */
  .region-content .block-leanbox-dashboard:nth-child(3n+1) {
    clear: none;
  }
}
/*table theming  for leanbox chart details*/
/* line 1325, ../sass/leanbox-global.scss */
.pp-typewise, .pp-superwise-table {
  width: 75%;
  border: 1px solid #ddd;
}
/* line 1329, ../sass/leanbox-global.scss */
.pp-typewise tbody, .pp-superwise-table tbody {
  border: 1px solid #ddd;
}
/* line 1333, ../sass/leanbox-global.scss */
.pp-typewise th, .pp-superwise-table th {
  text-align: left;
  padding: 10px;
}
/* line 1338, ../sass/leanbox-global.scss */
.pp-typewise td, .pp-superwise-table td {
  border: 1px solid #ddd !important;
}
/* line 1343, ../sass/leanbox-global.scss */
.pp-typewise table td, .pp-typewise table tbody, .pp-superwise-table table td, .pp-superwise-table table tbody {
  border: 0 !important;
}

/* line 1354, ../sass/leanbox-global.scss */
.tooltipster-base .tooltipster-content tr th:last-child, .tooltipster-base .tooltipster-content tr td:last-child {
  border-right: 0;
}
/* line 1360, ../sass/leanbox-global.scss */
.tooltipster-base .tooltipster-content td, .tooltipster-base .tooltipster-content th {
  padding: 5px;
  border-bottom: 1px solid #777;
  min-width: 80px;
  word-wrap: break-word;
  border-right: 1px solid #777;
}
