/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Aug, 2018, 11:59:26 AM
    Author     : user
*/

.hide-col {
    display : none;
}
.trip_id_outer_width {
    float:left;
    width:200px;
}
.form_row form_row2 {
    width:400px;
    float:left;
}
.gs_approval_link {
    float:left;
    margin-left:325px;
    margin-top:25px;
}
.apply_btn {
    clear:both;
    float:left;
}
.custom_middle_table {
    clear:both;
    float:left;
}